# ========================================================
# Nanopore Analysis Pipeline Configuration
#
# HOW TO USE THIS FILE:
#   All paths in this file (filenames and directories) are relative to the root directory. Don't use absolute
#   paths, whatever you do!!
#
#   - PATHS
#     - For OUTPUTS (such as 'aligned_bam_name'): provide a simple filename. It'll be created inside
#       a standard directory within the root
#     - For INPUTS (such as pod5_input_path):
#       - If the data is inside your experiment folder, provide a relative path (e.g. source_data/pod5/)
#       - If the data is somewhere else, provide the full absolute path (e.g. /mnt/c/data/run123)
#
# ========================================================
conda_env_name: "nanopore_analysis"

globals:
  threads: "4"
  sort_memory_limit: "2G"

pipeline_control:
  run_steps:
    basecalling: false
    align: true
    methylation_summary: false
    analysis: false

pipeline_steps:
  # ---------------
  # Step 0: Setup
  # ---------------
  setup:
    params:
      dorado_version: "0.9.6"
      num_fast5_files: "2"
    downloads:
      fast5_download_url: "s3://ont-open-data/gm24385_mod_2021.09/flowcells/20210511_1515_X2_FAQ32637_9b683def/fast5_pass/"
      reference_genome_url: "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
      uxm_atlas_url: "https://raw.githubusercontent.com/nloyfer/UXM_deconv/refs/heads/main/supplemental/Atlas.U25.l4.hg38.full.tsv"
      manifest_url: "https://webdata.illumina.com/downloads/productfiles/humanmethylation450/humanmethylation450_15017482_v1-2.csv"
      full_atlas_url: "https://github.com/nloyfer/meth_atlas/raw/refs/heads/master/full_atlas.csv.gz"
    paths:
      fast5_input_dir_name: "fast5_input"

  # --------------------
  # Step 1: Basecalling
  # --------------------
  basecalling:
    params:
      method: "complex"
      # Method A: Complex Model Names
      complex_settings:
        model_speed: "fast"
        basecalling_modifications: "5mCG_5hmCG"
        kit_name: null
      # Method B: Explicit Model Names
      explicit_settings:
        base_model_name: "dna_r9.4.1_e8_sup@v3.3"
        mod_model_name: "dna_r9.4.1_e8_sup@v3.3_5mCG_5hmCG@v0"

      # Other basecalling settings
      batch_size: "64"
    paths:
      # pod5_input_path can be either a file or a directory.
      pod5_input_path: "data/pod5"
      basecalled_bam_name: "newcalls2.bam"

  # -------------------------
  # Step 2: Alignment
  # -------------------------
  align:
    paths:
      genome_id: "hg19"
      # If the genome isn't simply in the reference_genome/ folder, write where it is below.
      custom_fasta_reference: null
      aligned_bam_name: "taken_alignment.sorted.bam"
      alignment_flagstat_name: "alignment.flagstat.txt"
      alignment_stats_name: "alignment.stats.txt"

  # -------------------------------
  # Step 3: Methylation Summary
  # -------------------------------
  methylation:
    paths:
      methylation_bed_name: "comfy.bed"
      methylation_log_name: "pileup_wowow.log"

  # ------------------------------------
  # Step 4: Deconvolution and Analysis
  # ------------------------------------
  analysis:
    params:
      methylation_aggregation_chunksize: '5000000'
      deconv_algorithm: "uxm"
    tools:
    paths:
      atlas_file_name: "UXM_atlas_deconvolution10201.csv"
      manifest_name: "illumina_manifest.csv"
      deconvolution_results_name: "deconvoluted_output.csv"

